.app-header {

    button {
      margin: 0 16px;
    }
  
    .spacer {
      flex: 1 1 auto;
    }
  
    .mat-toolbar {
      background-color: rgb(65, 55, 153);
      color: white;
      padding: 0 100px;
    }
  
    .mat-mdc-outlined-button:not(:disabled) {
      border-color: white;
    }
  }