<app-banner src="imagens/banner-homepage.png" alt="Banner da aplicação Jornada"></app-banner>
<app-container>
    <app-form-busca></app-form-busca>
    <h3>Promoções</h3>
    <div class="card-wrapper">
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
    </div>
    <h3>Depoimentos</h3>
    <div class="card-wrapper">
        <app-card-depoimento></app-card-depoimento>
        <app-card-depoimento></app-card-depoimento>
        <app-card-depoimento></app-card-depoimento>
    </div>
 
</app-container>